<h2>Pesquisa de funcionários</h2>

<section>
    <input type="text" placeholder="Filtrar" ng-model="filtro" />
    <br>
    <table>
        <thead>
            <tr>
                <th ng-show="lista.usuarioLogado"></th>
                <th>Nome</th>
                <th>Profissão</th>
                <th>Telefone</th>
                <th ng-show="lista.usuarioLogado"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="funcionario in lista.funcionarios | filter:filtro">
                <td ng-show="lista.usuarioLogado">
                    <input type="checkbox" ng-model="funcionario.selecionado" />
                </td>
                <td>{{funcionario.nome}}</td>
                <td>{{funcionario.profissao}}</td>
                <td>{{funcionario.telefone}}</td>
                <td ng-show="lista.usuarioLogado">
                    <button ng-click="lista.editarFuncionario($index, funcionario)">Editar</button>
                    <button ng-click="lista.removerFuncionario(funcionario.id)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <button ng-show="lista.usuarioLogado" ng-click="lista.removerSelecionados()">Remover selecionados</button>
</section>